.btn
{
  border: none;
background-color: inherit;
padding: 10px 20px;
font-size: 25px;
cursor: pointer;
display: inline-block;
font-family:courier;
color:white;

}

/* On mouse-over */
.btn:hover {background: #409fbf;}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #bf8040;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
