.responsive{
  max-width: 100%
  height: auto;

}

body {
  background-color:#1E1F21;
}

div.relative{
  position:relative;
  color:white;
  font-family: fantasy;
  font-size: 40px;

}

h2
{
  color:white;
  font-family: fantasy;
  text-align: center;
}

.parallax
{
  background-image: url("Development.PNG");
  height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxApp
{
  background-image: url("AppDev.PNG");
  height: 480px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


button.btn
{
  border: none;
  background-color: inherit;
  font-size: 20px;
  font-family: fantasy;
  color:white;
}

.btn:hover
{
  transform: scale(1.2);
  transition: transform .2s ease;
}
